/* App.css */
:root {
  --primary-color: #004080;
  --secondary-color: #e6f2ff;
  --accent-color: #0073e6;
  --text-color: #333;
  --light-text-color: #fff;
  --background-color: #f0f0f0;
  --font-family: 'Arial', sans-serif;
  height: 100vh;
  background-image: url('/bg.png'); /* Update the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.6;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  color: var(--primary-color);
  margin-top: 0;
}

p {
  margin: 0.5em 0;
}

ul {
  padding: 0;
  list-style: none;
}

section {
  padding: 2em 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
      padding: 0 1em;
  }
}
